In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("Precipitação anual média de longo prazo em volume.csv")
df.head()

,STRUCTURE,STRUCTURE_ID,ACTION,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,SEX,...,UNIT_MULT,UNIT_MULT_LABEL,UNIT_TYPE,UNIT_TYPE_LABEL,TIME_FORMAT,TIME_FORMAT_LABEL,OBS_STATUS,OBS_STATUS_LABEL,OBS_CONF,OBS_CONF_LABEL
0,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,ABW,Aruba,WB_CCKP_PR,Precipitation (millimeters),_T,...,0,Units,NUMBER,Number (real number),602,CCYY,A,Normal value,PU,Public
1,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,ABW,Aruba,WB_CCKP_PR,Precipitation (millimeters),_T,...,0,Units,NUMBER,Number (real number),602,CCYY,A,Normal value,PU,Public
2,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,ABW,Aruba,WB_CCKP_PR,Precipitation (millimeters),_T,...,0,Units,NUMBER,Number (real number),602,CCYY,A,Normal value,PU,Public
3,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,ABW,Aruba,WB_CCKP_PR,Precipitation (millimeters),_T,...,0,Units,NUMBER,Number (real number),602,CCYY,A,Normal value,PU,Public
4,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,ABW,Aruba,WB_CCKP_PR,Precipitation (millimeters),_T,...,0,Units,NUMBER,Number (real number),602,CCYY,A,Normal value,PU,Public

In [14]:
# Lista dos países a serem filtrados
countries_to_filter = ['BRA']

In [15]:
# Filtrar o DataFrame
df_filtered = df[df['REF_AREA'].isin(countries_to_filter)]

In [16]:
# Exibir as primeiras linhas do DataFrame filtrado para verificar
df_filtered.head()

,STRUCTURE,STRUCTURE_ID,ACTION,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,SEX,...,UNIT_MULT,UNIT_MULT_LABEL,UNIT_TYPE,UNIT_TYPE_LABEL,TIME_FORMAT,TIME_FORMAT_LABEL,OBS_STATUS,OBS_STATUS_LABEL,OBS_CONF,OBS_CONF_LABEL
2190,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,BRA,Brazil,WB_CCKP_PR,Precipitation (millimeters),_T,...,0,Units,NUMBER,Number (real number),602,CCYY,A,Normal value,PU,Public
2191,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,BRA,Brazil,WB_CCKP_PR,Precipitation (millimeters),_T,...,0,Units,NUMBER,Number (real number),602,CCYY,A,Normal value,PU,Public
2192,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,BRA,Brazil,WB_CCKP_PR,Precipitation (millimeters),_T,...,0,Units,NUMBER,Number (real number),602,CCYY,A,Normal value,PU,Public
2193,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,BRA,Brazil,WB_CCKP_PR,Precipitation (millimeters),_T,...,0,Units,NUMBER,Number (real number),602,CCYY,A,Normal value,PU,Public
2194,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,BRA,Brazil,WB_CCKP_PR,Precipitation (millimeters),_T,...,0,Units,NUMBER,Number (real number),602,CCYY,A,Normal value,PU,Public

In [17]:
df_filtered.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'ACTION', 'FREQ', 'FREQ_LABEL', 'REF_AREA',
       'REF_AREA_LABEL', 'INDICATOR', 'INDICATOR_LABEL', 'SEX', 'SEX_LABEL',
       'AGE', 'AGE_LABEL', 'URBANISATION', 'URBANISATION_LABEL',
       'UNIT_MEASURE', 'UNIT_MEASURE_LABEL', 'COMP_BREAKDOWN_1',
       'COMP_BREAKDOWN_1_LABEL', 'COMP_BREAKDOWN_2', 'COMP_BREAKDOWN_2_LABEL',
       'COMP_BREAKDOWN_3', 'COMP_BREAKDOWN_3_LABEL', 'TIME_PERIOD',
       'OBS_VALUE', 'AGG_METHOD', 'AGG_METHOD_LABEL', 'DATABASE_ID',
       'DATABASE_ID_LABEL', 'UNIT_MULT', 'UNIT_MULT_LABEL', 'UNIT_TYPE',
       'UNIT_TYPE_LABEL', 'TIME_FORMAT', 'TIME_FORMAT_LABEL', 'OBS_STATUS',
       'OBS_STATUS_LABEL', 'OBS_CONF', 'OBS_CONF_LABEL'],
      dtype='object')

In [18]:
df_final = df_filtered[['REF_AREA', 'REF_AREA_LABEL', 'TIME_PERIOD', 'OBS_VALUE']]

In [19]:
df_final.head()

     REF_AREA REF_AREA_LABEL  TIME_PERIOD  OBS_VALUE
2190      BRA         Brazil         1950    1716.48
2191      BRA         Brazil         1951    1563.72
2192      BRA         Brazil         1952    1807.10
2193      BRA         Brazil         1953    1788.50
2194      BRA         Brazil         1954    1632.66

In [20]:
# Zerar index
df_final.reset_index(drop=True, inplace=True)
df_final.head()

  REF_AREA REF_AREA_LABEL  TIME_PERIOD  OBS_VALUE
0      BRA         Brazil         1950    1716.48
1      BRA         Brazil         1951    1563.72
2      BRA         Brazil         1952    1807.10
3      BRA         Brazil         1953    1788.50
4      BRA         Brazil         1954    1632.66

In [21]:
df_final.rename(columns={'REF_AREA': 'codigo pais', 'REF_AREA_LABEL': 'nome pais', 'TIME_PERIOD': 'ano', 'OBS_VALUE': 'volume mm'}, inplace=True)
df_final.head()

/var/folders/3s/rhrmr_qd58jghym5mld7b9240000gn/T/ipykernel_7389/3411749460.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.rename(columns={'REF_AREA': 'codigo pais', 'REF_AREA_LABEL': 'nome pais', 'TIME_PERIOD': 'ano', 'OBS_VALUE': 'volume mm'}, inplace=True)

  codigo pais nome pais   ano  volume mm
0         BRA    Brazil  1950    1716.48
1         BRA    Brazil  1951    1563.72
2         BRA    Brazil  1952    1807.10
3         BRA    Brazil  1953    1788.50
4         BRA    Brazil  1954    1632.66

In [22]:
df_final.to_csv("Precipitação anual.csv", index=False)

In [23]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codigo pais  73 non-null     object
 1   nome pais    73 non-null     object
 2   ano          73 non-null     int64
 3   volume mm    73 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.4+ KB

In [24]:
df_final.describe()

               ano    volume mm
count    73.000000    73.000000
mean   1986.000000  1778.150548
std      21.217131   121.125877
min    1950.000000  1437.250000
25%    1968.000000  1709.920000
50%    1986.000000  1791.110000
75%    2004.000000  1870.000000
max    2022.000000  2049.380000